*{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color:rgb(227, 227, 227);
}
html {
  background-color:rgb(33, 33, 33);
  width: 100%;
  height: 100%;
}
li, ul, ol{
  list-style: none;
}
nav{
  width: 225px;
}
body{
  display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  font-weight:400;
  font-size: 20px;
}
input[type="checkbox"]{
  appearance: none;
  cursor: pointer;
  margin:0;
  border-radius: 4px !important;
  color: rgb(255, 255, 255);
  width: 1.00em;
  height: 1.00em;
  border: 0.15em solid currentColor;
  border-radius: 1px;
  transform: translateY(-0.075em);
  display:grid;
  place-content: center;
}
input[type="checkbox"]::before{
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: 40ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(139, 139, 139);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
#nav-list{
  display: flex;
  flex-direction: column;
  gap:40px;
  margin-right:24px;
}
#create-todo{
  color:rgb(221, 221, 221);
  background-color: rgb(49, 49, 49);
  padding: 10px 25px 10px 25px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-weight: 500;
  cursor:pointer;
  transition: background-color 0.05s;
}
#create-todo:hover{
  background-color: rgb(60, 60, 60);
  animation: 1s;
}
#lists {
  display:flex;
  flex-direction: column;
  gap: 12px;
}

#lists-dropdown{
  cursor: pointer;
}
#lists-dropdown-arrow{
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(59deg) brightness(103%) contrast(102%);
  width:14px;
}

#lists-dropdown *{
  font-weight:500;
  color:white;
  font-size:20px;

}
#lists h1{
  display:flex;
  justify-content: space-between;
}
#todo-list-list{
  display: flex;
  flex-direction: column;
}

#todo-list-list li{
  display: flex;
  align-items: center;
  height:31px;
  padding:0px 12px 0px 12px;
  display:flex;
  gap:20px;
  transition: background-color 0.05s;

}
#todo-list-list *{
  border-radius: 100px;
  font-size:16px;
}
#todo-list-list li:hover{
  background-color: rgb(64, 64, 64);
}
#create-new-list{
  cursor: pointer;
  font-weight: 500;
  display:flex;
  justify-content: start;
  gap: 20px;
}
#plus{
  padding:3px; /* To make the plus sign line up with the checkboxes*/
}
#current-list-container{
  display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;

}

.list{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(63, 63, 63);
  padding:16px;
  border-radius: 24px;
  max-width: 600px;
  min-height: 85vh;
  gap:12px;
  overflow:hidden;
  transition: background-color 0.1s;

}
.list:hover{
  border-color: rgb(85, 85, 85);
}
.list *{
  font-size: 20px;
}

#add-task{
  cursor: pointer;
  color:rgb(71, 145, 255);
}
#tasks{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  flex:1;
  min-width:100%;
}

#tasks-container{
  display:flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  flex:1;
  gap:16px;
  position:relative;
  bottom: 8vh;
  
}
#no-tasks, #no-tasks-info{
  text-align: center;
}
#no-tasks{
  font-size:24px;
}
#no-tasks-info{
  color:rgb(168, 168, 168);
  font-size:16px;
}